{% extends 'base.html' %}
{%  block title  %}
Login
{% endblock %}
{% block content %}
    <h1>
    Login...
    </h1>
    </br>

    <table>
    <div class="container-fluid">
          <div class="form-group">
                <form method="POST">
                        {% csrf_token%}
                {{ form.as_table }}





                    </table>
                    </br>
                    <button type="submit" class="btn btn-primary" > Login</button>
                </form>

                <br/>
                <br/>
                <h4> Not a registered User. Register Now.</h4>
                            <br/>
                            <br/>
                                <a href = "{% url 'register' %}" class="btn btn-success" role="button">Register Now</a>
        </div>
    </div>


{% endblock %}